@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$color-pale-blue:hsl(225,100%,94%);
$color-bright-blue:hsl(245, 75%, 52%);

$color-very-pale-blue:hsl(225, 100%, 98%);
$color-desaturated-blue:hsl(224, 23%, 55%);
$color-dark-blue:hsl(223, 47%, 23%);
$color-white:rgb(255, 255, 255);
$font-family:'Red Hat Display',sans-serif;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: $font-family;
}
body{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: $color-pale-blue;
}

main{
    overflow: hidden;
    border-radius: 1.5rem;
    margin: 10rem auto;
    width: 36rem;
    background-color: $color-white;
    box-shadow: 20px 20px 90px #bebebe,
            -20px -20px 90px #ffffff;

    .hero-img{
        width: 100%;
    }
    .container-sumary{
        text-align: center;
        padding: 3rem;
        h1{
            color: $color-dark-blue  ;
            font-weight: 800;
        }
        p{
            color: $color-desaturated-blue;
            padding:  1.5rem 3rem;
            font-size: 1.3rem;
        }
        .container-anual-plan{
            display: flex;
            background-color: rgba(223, 222, 222, 0.308);
            padding: 1rem;
            border-radius: 1rem;
            height: 5.5rem;
             position: relative;
            .container-image-headphone{
                img{
                    width: 3.5rem;
                }
            }
            .container-anual{
                width: 7em;
                display: flex;
                flex-direction: column;
                h4{
                    margin-left: .6rem;
                    font-size: 1rem;
                    font-weight: 800;
                }
                p{
                    margin-top: -1rem;
                    margin-left: -2rem;
                    font-size: 1.2rem;
                }
                
            }
            a{
                position: absolute;
                line-height: 3rem;
                right: 2vh;
                font-weight: 800;
                color: $color-bright-blue;
                &:hover {
                        filter: opacity(70%);
                    }
                }
            
        }
        .proceed-payment-button{
            cursor: pointer;
            background-color: $color-bright-blue;
            padding: 1rem 1rem;
            color: $color-white;
            font-weight: 700;
            border-radius: .6rem;
            margin-top: 2.5rem;
            font-size: 1.2rem;
            box-shadow: 20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
             &:hover {
                 filter: opacity(70%);
                    }
            }
            h3{
                cursor: pointer;
                margin-top: 3rem;
                color: $color-desaturated-blue;
                &:hover{
                    color: rgb(0, 0, 0);
                }
            }
    }

}

@media screen and (max-width:  475px) {
body{
background-image: url(images/pattern-background-mobile.svg);
}
    main {
        
        width: 90%; 
    }
   
}